// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2021, Luca Weiss <luca@z3ntu.xyz>
 */

/dts-v1/;

#include "sm7225.dtsi"

/ {
	model = "Fairphone 4";
	compatible = "fairphone,fp4", "qcom,sm7225";

	/* required for bootloader to select correct board */
	qcom,msm-id = <0x1b2 0x10000 0x1cb 0x10000>;
	qcom,board-id = <0x08 0x20>;

	aliases {
		serial0 = &uart2;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		//bootargs = "earlycon=tty0 console=tty0 console=ttyMSM0,115200";

		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		//stdout-path = "framebuffer0";

		framebuffer0: framebuffer@a000000 {
			compatible = "simple-framebuffer";
			reg = <0 0xa0000000 0 (2340 * 1080 * 4)>;
			width = <1080>;
			height = <2340>;
			stride = <(1080 * 4)>;
			format = "a8r8g8b8";
			status = "okay";
		};
	};
};

&usb_1 {
	status = "okay";
};

&usb_1_hsphy {
	status = "okay";
};

&qupv3_id_1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};
