/dts-v1/;

#include "sm7225.dtsi"

/ {
	model = "Fairphone 4";
	compatible = "fairphone,fp4", "qcom,sm7225";

	/* required for bootloader to select correct board */
	qcom,msm-id = <0x1b2 0x10000 0x1cb 0x10000>;
	qcom,board-id = <0x08 0x20>;

	aliases {
		//serial0 = &qupv3_se9_2uart;
	};

	chosen {
		//stdout-path = "serial0:115200n8";

		bootargs = "earlycon=tty0 console=tty0";

		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		stdout-path = "framebuffer0";

		framebuffer0: framebuffer@A0000000 {
			compatible = "simple-framebuffer";
			reg = <0 0xA0000000 0 (2340 * 1080 * 4)>;
			width = <1080>;
			height = <2340>;
			stride = <(1080 * 4)>;
			format = "a8r8g8b8";
			status= "okay";
		};
	};
};

//&qupv3_1 {
//	status = "okay";
//};
//
//&qupv3_se9_2uart {
//	status = "okay";
//};
