/*
 * SPDX-License-Identifier: (GPL-2.0+ OR MIT)
 *
 * Copyright (c) 2018 ARM Ltd.
 */

#include "sun50i-a64-sopine-baseboard.dts"
#include <dt-bindings/pwm/pwm.h>

/ {
	model = "Pine64 LTS";
	compatible = "pine64,pine64-lts", "allwinner,sun50i-r18",
		     "allwinner,sun50i-a64";

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&r_pwm 0 50000 PWM_POLARITY_INVERTED>;
		brightness-levels = <1 2 4 8 16 32 64 128 512>;
		default-brightness-level = <8>;
		enable-gpios = <&pio 7 10 GPIO_ACTIVE_HIGH>; /* LCD-BL-EN: PH10 */
	};
};

&de {
	status = "okay";
};

&dphy {
	status = "okay";
};

&dsi {
	vcc-dsi-supply = <&reg_dldo1>;		/* VCC3V3-DSI */
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	panel@0 {
		compatible = "feiyang,fy07024di26a30d";
		reg = <0>;
		avdd-supply = <&reg_dc1sw>;	/* VCC-LCD */
		dvdd-supply = <&reg_dldo2>;	/* VCC-MIPI */
		reset-gpios = <&pio 3 24 GPIO_ACTIVE_HIGH>; /* LCD-RST: PD24 */
		backlight = <&backlight>;
	};
};

&r_pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&r_pwm_pin>;
	status = "okay";
};


&i2c0 {
    pinctrl-names = "default";
    pinctrl-0 = <&i2c0_pins>;
    status = "okay";

    gt911@5d {
        compatibile = "goodix,gt911";
        reg = <0x5d>;

        pinctrl-names = "default";
        pinctrl-0 = <&gt911_irq_pin>, <&gt911_reset_pin>;
        interrput-parent = <&pio>;
        interrputs = <7 4 IRQ_TYPE_EDGE_RISING>;
        irq-gpios = <&pio 7 4 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&pio 7 11 GPIO_ACTIVE_HIGH>;
    };

};

&pio {
    i2c0_pins: i2c0_pins {
        pins = "PH0", "PH1";
        function = "i2c0";
    };
    gt911_irq_pin: gt911_irq_pin {
        pins = "PH4";
        function = "irq";
    };

    gt911_reset_pin: gt911_reset_pin {
        pins = "PH11";
        function = "gpio_out";
    };
};
